:root {
  --black: #000000;
  --white: #ffffff;
  --error-red: #df0707;
  --dark-blue: #5d5d5d;
  --hover-grey: #f4f4f4;
  --seperation-grey: #d4d3d5;
  --line-red: #f00000;
  --line-blue: #1c25f2;
  --line-grey: #9c9b9c;
  --line-green: #46e916;

  --toastify-color-success: #46e916;
  --toastify-color-warning: #f2c743;
  --toastify-color-error: #df0707;
}
